<div class="container">
  <div>
    <app-album-search
      (searchChange)="handleSearchChange($event)"
      (sortByReleaseDateEvent)="handleSortByReleaseDate()"
    ></app-album-search>
  </div>

  <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="150" (scrolled)="onScroll()">
    <div class="row">
      @for (album of albums(); track album.collectionId) {
        <div class="col-md-4 mb-3">
          <app-album-item [album]="album"></app-album-item>
        </div>
      }
    </div>

    @if (isLoading()) {
      <app-loading></app-loading>
    }
  </div>
</div>